.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:80%;
    padding:40px;
    border-radius: 10px;
    margin:10vh auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.creation-form{
    flex-grow: 1;
}

input[type=text], input[type=email] {
    border: none;
    border-bottom: 1px solid #C850C0;
    width:100%;
  }

  input:focus{
    outline: none;
    border-bottom: 2px solid #FFCC70;
  }

  label{
      font-size: 14px;
  }

.btn{
      background: #FFCC70 ;
      border-radius: 3px;
      border:none;
      height: 30px;
      font-weight: bolder;
      margin-top: 50px;
  }

  .toast{
    position: absolute;
    top:50%;
    right:10%;
    background: rgba(221, 9, 9, 0.6);
    border-radius: 5px;
    margin-top: 20px;
    padding:20px;
    color:white;
    font-weight: bold;
  }
